## Problem Set 3 (Part 2 of 2): Interacting with the Alpha Vantage API using Python libraries

In Part 2 of Problem Set 3 we will be using the data retrived from the Alpha Vantage API and creating an optimized portfolio of stocks based on Modern Portfolio Theory. The PyPortfolioOpt package will be used to optimize a portfolio of stocks based maximizing the Sharpe Ratio. This exercise is an example of how a robo-advisor would use data APIs to continuously monitor and adjusts stock portfolios. 

This part of the exercise demonstrates:

1. Setting up a programming environment to work with APIs
2. Data preprocessing to create compatible datasets
3. Using a quantititive popular portfolio optimization library to estimate risks and weights

Documentation links:
<br />Alpha Vantage: https://www.alphavantage.co/documentation/
<br />Alpha Vantage Python library: https://alpha-vantage.readthedocs.io/en/latest/#
<br />Pandas DataFrame: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html
<br />PyPortfolioOpt: https://pyportfolioopt.readthedocs.io/en/latest/index.html

In [1]:
api_key = "A8O16AND47KXCXJM"

In [3]:
import pandas as pd
import requests
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt

# PyPortfolioOpt libraries
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [4]:
ts = TimeSeries(key=api_key,output_format='pandas')

In [5]:
fb_data, fb_meta_data = ts.get_daily(symbol='FB', outputsize='full')
msft_data, msft_meta_data = ts.get_daily(symbol='MSFT', outputsize='full')
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

In [8]:
print(msft_data)

             1. open   2. high    3. low  4. close   5. volume
date
1999-09-27   92.0000   92.9380   90.8750    91.438  34132200.0
1999-09-28   91.2500   92.6880   89.0661    92.125  46000600.0
1999-09-29   91.5630   92.1250   89.1250    89.500  37484400.0
1999-09-30   90.0000   91.6880   88.8130    90.563  47455400.0
1999-10-01   90.1880   90.6250   88.3123    89.984  44239000.0
1999-10-04   90.5000   92.6250   90.2500    92.563  29998000.0
1999-10-05   92.7500   93.8750   89.5000    91.813  43397000.0
1999-10-06   92.3130   94.0000   92.0630    93.688  35500200.0
1999-10-07   93.6880   95.0630   92.6880    93.750  46036400.0
1999-10-08   93.5000   95.1880   92.1250    94.938  35697000.0
1999-10-11   94.6226   95.0000   94.1250    94.313  19943800.0
1999-10-12   94.0000   94.3130   92.3750    92.563  27668600.0
1999-10-13   92.0000   93.1250   90.3130    91.063  38098400.0
1999-10-14   90.8750   92.2340   89.6880    90.688  42737800.0
1999-10-15   89.5000   89.8130   87.3130    88.063  73788000.0
1999-10-18   87.1880   88.0000   85.0630    87.875  75312800.0
1999-10-19   88.2500   89.2500   85.2500    86.313  69945600.0
1999-10-20   91.5630   92.3750   90.2500    92.250  88090600.0
1999-10-21   90.5630   93.1250   90.5000    93.063  60801200.0
1999-10-22   93.5630   93.8750   91.7500    92.688  43650600.0
1999-10-25   92.0000   93.5630   91.1250    92.438  30492200.0
1999-10-26   94.3750   95.2524   92.2660    92.375  52467600.0
1999-10-27   91.5000   91.6250   89.6880    90.875  54416600.0
1999-10-28   90.0000   90.8750   89.3130    89.875  70570400.0
1999-10-29   91.4380   94.0000   91.2500    92.563  79452600.0
1999-11-01   93.2500   94.1880   92.1250    92.375  53261200.0
1999-11-02   92.7500   94.5000   91.9380    92.563  46349000.0
1999-11-03   92.9380   93.5000   91.5000    92.000  44517000.0
1999-11-04   92.3130   92.7500   90.3130    91.750  54239400.0
1999-11-05   91.8130   92.8750   90.5000    91.563  70167400.0
...              ...       ...       ...       ...         ...
2019-08-14  136.3600  136.9200  133.6700   133.980  32527300.0
2019-08-15  134.3900  134.5800  132.2500   133.680  28074400.0
2019-08-16  134.8800  136.4600  134.7200   136.130  24449100.0
2019-08-19  137.8500  138.5500  136.8900   138.410  24355700.0
2019-08-20  138.2100  138.7100  137.2400   137.260  21170800.0
2019-08-21  138.5500  139.4900  138.0000   138.790  14970300.0
2019-08-22  138.6600  139.2000  136.2900   137.780  18697000.0
2019-08-23  137.1900  138.3500  132.8000   133.390  38508600.0
2019-08-26  134.9900  135.5600  133.9000   135.450  20312600.0
2019-08-27  136.3900  136.7200  134.6600   135.740  23102100.0
2019-08-28  134.8800  135.7600  133.5500   135.560  17393300.0
2019-08-29  137.2500  138.4400  136.9100   138.120  20168700.0
2019-08-30  139.1500  139.1800  136.2700   137.860  23940100.0
2019-09-03  136.6100  137.2000  135.7000   136.040  18869300.0
2019-09-04  137.3000  137.6900  136.4800   137.630  17995900.0
2019-09-05  139.1100  140.3800  138.7600   140.050  26101800.0
2019-09-06  140.0300  140.1800  138.2000   139.100  20824500.0
2019-09-09  139.5900  139.7500  136.4600   137.520  25773900.0
2019-09-10  136.8000  136.8900  134.5100   136.080  28903400.0
2019-09-11  135.9100  136.2700  135.0900   136.120  24726100.0
2019-09-12  137.8500  138.4200  136.8700   137.520  27010000.0
2019-09-13  137.7800  138.0600  136.5700   137.320  23363100.0
2019-09-16  135.8300  136.7000  135.6600   136.330  16731400.0
2019-09-17  136.9600  137.5200  136.4300   137.390  17814200.0
2019-09-18  137.3600  138.6700  136.5300   138.520  23982100.0
2019-09-19  140.3000  142.3700  140.0700   141.070  35772100.0
2019-09-20  141.0100  141.6500  138.2500   139.440  39167300.0
2019-09-23  139.2300  139.6300  138.4400   139.140  17139300.0
2019-09-24  140.3600  140.6900  136.8850   137.380  24602078.0
2019-09-25  137.5000  139.9580  136.0400   139.360  13711166.0

[5032 rows x 5 columns]

Isolate "close" column of data for each security:

In [10]:
fb_clean = fb_data['4. close']
msft_clean = msft_data['4. close']
aapl_clean = aapl_data['4. close']
amzn_clean = amzn_data['4. close']
#testing testing
print(fb_clean)

date
2012-05-18     38.232
2012-05-21     34.030
2012-05-22     31.000
2012-05-23     32.000
2012-05-24     33.030
2012-05-25     31.910
2012-05-29     28.840
2012-05-30     28.190
2012-05-31     29.600
2012-06-01     27.720
2012-06-04     26.900
2012-06-05     25.869
2012-06-06     26.810
2012-06-07     26.310
2012-06-08     27.100
2012-06-11     27.005
2012-06-12     27.400
2012-06-13     27.270
2012-06-14     28.290
2012-06-15     30.014
2012-06-18     31.410
2012-06-19     31.911
2012-06-20     31.600
2012-06-21     31.840
2012-06-22     33.050
2012-06-25     32.060
2012-06-26     33.100
2012-06-27     32.230
2012-06-28     31.360
2012-06-29     31.095
               ...
2019-08-14    179.710
2019-08-15    182.590
2019-08-16    183.700
2019-08-19    186.170
2019-08-20    183.810
2019-08-21    183.550
2019-08-22    182.040
2019-08-23    177.750
2019-08-26    180.360
2019-08-27    181.300
2019-08-28    181.760
2019-08-29    185.570
2019-08-30    185.670
2019-09-03    182.390
2019-09-04    187.140
2019-09-05    190.900
2019-09-06    187.490
2019-09-09    188.760
2019-09-10    186.170
2019-09-11    188.490
2019-09-12    187.470
2019-09-13    187.190
2019-09-16    186.220
2019-09-17    188.080
2019-09-18    188.140
2019-09-19    190.140
2019-09-20    189.930
2019-09-23    186.820
2019-09-24    181.280
2019-09-25    182.800
Name: 4. close, Length: 1850, dtype: float64

Create new dataframe with tickers as columns:

In [13]:
df = pd.DataFrame(columns=['fb', 'msft', 'aapl', 'amzn'])
df

Empty DataFrame
Columns: [fb, msft, aapl, amzn]
Index: []

Place data into new dataframe:

In [14]:
df['fb'] = fb_clean
df['msft'] = msft_clean
df['aapl'] = aapl_clean
df['amzn'] = amzn_clean
#Testing Testing
print(df)

                 fb     msft     aapl      amzn
date
2012-05-18   38.232   29.270  530.380   213.850
2012-05-21   34.030   29.750  561.280   218.110
2012-05-22   31.000   29.760  556.970   215.330
2012-05-23   32.000   29.110  570.560   217.280
2012-05-24   33.030   29.070  565.320   215.240
2012-05-25   31.910   29.060  562.290   212.890
2012-05-29   28.840   29.560  572.270   214.750
2012-05-30   28.190   29.340  579.170   209.230
2012-05-31   29.600   29.190  577.730   212.910
2012-06-01   27.720   28.450  560.990   208.220
2012-06-04   26.900   28.550  564.290   214.570
2012-06-05   25.869   28.505  562.830   213.210
2012-06-06   26.810   29.350  571.460   217.640
2012-06-07   26.310   29.230  571.720   218.800
2012-06-08   27.100   29.650  580.320   218.480
2012-06-11   27.005   28.895  571.170   216.500
2012-06-12   27.400   29.290  576.160   216.420
2012-06-13   27.270   29.130  572.160   214.730
2012-06-14   28.290   29.340  571.530   214.450
2012-06-15   30.014   30.020  574.130   218.350
2012-06-18   31.410   29.840  585.780   222.660
2012-06-19   31.911   30.700  587.410   224.030
2012-06-20   31.600   30.930  585.741   223.020
2012-06-21   31.840   30.135  577.670   220.575
2012-06-22   33.050   30.700  582.100   222.160
2012-06-25   32.060   29.865  570.765   220.070
2012-06-26   33.100   30.020  572.025   225.610
2012-06-27   32.230   30.170  574.500   225.620
2012-06-28   31.360   29.910  569.050   221.310
2012-06-29   31.095   30.590  584.000   228.350
...             ...      ...      ...       ...
2019-08-14  179.710  133.980  202.750  1762.960
2019-08-15  182.590  133.680  201.740  1776.120
2019-08-16  183.700  136.130  206.500  1792.570
2019-08-19  186.170  138.410  210.350  1816.120
2019-08-20  183.810  137.260  210.360  1801.380
2019-08-21  183.550  138.790  212.640  1823.540
2019-08-22  182.040  137.780  212.460  1804.660
2019-08-23  177.750  133.390  202.640  1749.620
2019-08-26  180.360  135.450  206.490  1768.870
2019-08-27  181.300  135.740  204.160  1761.830
2019-08-28  181.760  135.560  205.530  1764.250
2019-08-29  185.570  138.120  209.010  1786.400
2019-08-30  185.670  137.860  208.740  1776.290
2019-09-03  182.390  136.040  205.700  1789.840
2019-09-04  187.140  137.630  209.190  1800.620
2019-09-05  190.900  140.050  213.280  1840.720
2019-09-06  187.490  139.100  213.260  1833.510
2019-09-09  188.760  137.520  214.170  1831.350
2019-09-10  186.170  136.080  216.700  1820.550
2019-09-11  188.490  136.120  223.590  1822.990
2019-09-12  187.470  137.520  223.090  1843.550
2019-09-13  187.190  137.320  218.750  1839.340
2019-09-16  186.220  136.330  219.900  1807.840
2019-09-17  188.080  137.390  220.700  1822.550
2019-09-18  188.140  138.520  222.770  1817.460
2019-09-19  190.140  141.070  220.960  1821.500
2019-09-20  189.930  139.440  217.730  1794.160
2019-09-23  186.820  139.140  218.720  1785.300
2019-09-24  181.280  137.380  217.680  1741.610
2019-09-25  182.800  139.360  221.030  1768.330

[1850 rows x 4 columns]

Take only the earlist half of observations:

In [15]:
#create df2, which wouldn't overwrite df and has half the observations
df2 = df[0:924]
df2

                 fb    msft     aapl     amzn
date
2012-05-18   38.232  29.270  530.380  213.850
2012-05-21   34.030  29.750  561.280  218.110
2012-05-22   31.000  29.760  556.970  215.330
2012-05-23   32.000  29.110  570.560  217.280
2012-05-24   33.030  29.070  565.320  215.240
2012-05-25   31.910  29.060  562.290  212.890
2012-05-29   28.840  29.560  572.270  214.750
2012-05-30   28.190  29.340  579.170  209.230
2012-05-31   29.600  29.190  577.730  212.910
2012-06-01   27.720  28.450  560.990  208.220
2012-06-04   26.900  28.550  564.290  214.570
2012-06-05   25.869  28.505  562.830  213.210
2012-06-06   26.810  29.350  571.460  217.640
2012-06-07   26.310  29.230  571.720  218.800
2012-06-08   27.100  29.650  580.320  218.480
2012-06-11   27.005  28.895  571.170  216.500
2012-06-12   27.400  29.290  576.160  216.420
2012-06-13   27.270  29.130  572.160  214.730
2012-06-14   28.290  29.340  571.530  214.450
2012-06-15   30.014  30.020  574.130  218.350
2012-06-18   31.410  29.840  585.780  222.660
2012-06-19   31.911  30.700  587.410  224.030
2012-06-20   31.600  30.930  585.741  223.020
2012-06-21   31.840  30.135  577.670  220.575
2012-06-22   33.050  30.700  582.100  222.160
2012-06-25   32.060  29.865  570.765  220.070
2012-06-26   33.100  30.020  572.025  225.610
2012-06-27   32.230  30.170  574.500  225.620
2012-06-28   31.360  29.910  569.050  221.310
2012-06-29   31.095  30.590  584.000  228.350
...             ...     ...      ...      ...
2015-12-08  106.490  55.790  118.230  677.330
2015-12-09  104.600  54.980  115.620  664.790
2015-12-10  105.420  55.270  116.170  662.320
2015-12-11  102.120  54.060  113.180  640.150
2015-12-14  104.660  55.140  112.480  657.910
2015-12-15  104.550  55.200  110.490  658.640
2015-12-16  106.790  56.130  111.340  675.770
2015-12-17  106.220  55.700  108.980  670.650
2015-12-18  104.040  54.130  106.030  664.140
2015-12-21  104.770  54.830  107.330  664.510
2015-12-22  105.510  55.350  107.230  663.150
2015-12-23  104.630  55.820  108.610  663.700
2015-12-24  105.020  55.670  108.030  662.790
2015-12-28  105.930  55.950  106.820  675.200
2015-12-29  107.260  56.550  108.740  693.970
2015-12-30  106.220  56.310  107.320  689.070
2015-12-31  104.660  55.480  105.260  675.890
2016-01-04  102.220  54.800  105.350  636.990
2016-01-05  102.730  55.050  102.710  633.790
2016-01-06  102.970  54.050  100.700  632.650
2016-01-07   97.920  52.170   96.450  607.940
2016-01-08   97.330  52.330   96.960  607.050
2016-01-11   97.510  52.300   98.530  617.740
2016-01-12   99.370  52.780   99.960  617.890
2016-01-13   95.440  51.640   97.390  581.810
2016-01-14   98.370  53.110   99.520  593.000
2016-01-15   94.970  50.990   97.130  570.180
2016-01-19   95.260  50.560   96.660  574.480
2016-01-20   94.350  50.790   96.790  571.770
2016-01-21   94.160  50.480   96.300  575.020

[924 rows x 4 columns]

Calculate expected returns:

In [17]:
mu = expected_returns.mean_historical_return(df2)

Calculate sample covariance matrix:

In [19]:
S = risk_models.sample_cov(df2)
print(S)

            fb      msft      aapl      amzn
fb    0.183263  0.018451  0.020780  0.037626
msft  0.018451  0.057307  0.020826  0.026703
aapl  0.020780  0.020826  0.269413  0.020855
amzn  0.037626  0.026703  0.020855  0.093943

Optimize the weights to maximzie the Sharpe Ratio:

In [21]:
ef = EfficientFrontier(mu, S)
weights = ef.max_sharpe()
ef.portfolio_performance(verbose=True)

Expected annual return: 28.3%
Annual volatility: 23.5%
Sharpe Ratio: 1.12

(0.28315300039734614, 0.2353086186227769, 1.1183313298830186)

In [22]:
print(weights)

{'fb': 0.23331629887166944, 'msft': 0.2728212151853775, 'aapl': 9.226560487851643e-17, 'amzn': 0.49386248594295307}

Using optimized weights, compute portfolio accolation:

In [23]:
latest_prices = get_latest_prices(df2)
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value=1000000)
allocation, leftover = da.greedy_portfolio()
print(allocation)

1 out of 4 tickers were removed
{'amzn': 859, 'msft': 5404, 'fb': 2477}

To update portfolio, call the API again for latest data and run optimization model again:

In [24]:
fb_data, fb_meta_data = ts.get_daily(symbol='FB', outputsize='full')
msft_data, msft_meta_data = ts.get_daily(symbol='MSFT', outputsize='full')
aapl_data, aapl_meta_data = ts.get_daily(symbol='AAPL', outputsize='full')
amzn_data, amzn_meta_data = ts.get_daily(symbol='AMZN', outputsize='full')

In [25]:
#create new empty dataframe, df3
df3 = pd.DataFrame(columns=['fb', 'msft', 'aapl', 'amzn'])

In [26]:
#This wouldn't be necessary since we didn't save over data 
fb_clean = fb_data['4. close']
msft_clean = msft_data['4. close']
aapl_clean = aapl_data['4. close']
amzn_clean = amzn_data['4. close']

In [27]:
df3['fb'] = fb_clean
df3['msft'] = msft_clean
df3['aapl'] = aapl_clean
df3['amzn'] = amzn_clean
print(df3)

                 fb     msft     aapl      amzn
date
2012-05-18   38.232   29.270  530.380   213.850
2012-05-21   34.030   29.750  561.280   218.110
2012-05-22   31.000   29.760  556.970   215.330
2012-05-23   32.000   29.110  570.560   217.280
2012-05-24   33.030   29.070  565.320   215.240
2012-05-25   31.910   29.060  562.290   212.890
2012-05-29   28.840   29.560  572.270   214.750
2012-05-30   28.190   29.340  579.170   209.230
2012-05-31   29.600   29.190  577.730   212.910
2012-06-01   27.720   28.450  560.990   208.220
2012-06-04   26.900   28.550  564.290   214.570
2012-06-05   25.869   28.505  562.830   213.210
2012-06-06   26.810   29.350  571.460   217.640
2012-06-07   26.310   29.230  571.720   218.800
2012-06-08   27.100   29.650  580.320   218.480
2012-06-11   27.005   28.895  571.170   216.500
2012-06-12   27.400   29.290  576.160   216.420
2012-06-13   27.270   29.130  572.160   214.730
2012-06-14   28.290   29.340  571.530   214.450
2012-06-15   30.014   30.020  574.130   218.350
2012-06-18   31.410   29.840  585.780   222.660
2012-06-19   31.911   30.700  587.410   224.030
2012-06-20   31.600   30.930  585.741   223.020
2012-06-21   31.840   30.135  577.670   220.575
2012-06-22   33.050   30.700  582.100   222.160
2012-06-25   32.060   29.865  570.765   220.070
2012-06-26   33.100   30.020  572.025   225.610
2012-06-27   32.230   30.170  574.500   225.620
2012-06-28   31.360   29.910  569.050   221.310
2012-06-29   31.095   30.590  584.000   228.350
...             ...      ...      ...       ...
2019-08-14  179.710  133.980  202.750  1762.960
2019-08-15  182.590  133.680  201.740  1776.120
2019-08-16  183.700  136.130  206.500  1792.570
2019-08-19  186.170  138.410  210.350  1816.120
2019-08-20  183.810  137.260  210.360  1801.380
2019-08-21  183.550  138.790  212.640  1823.540
2019-08-22  182.040  137.780  212.460  1804.660
2019-08-23  177.750  133.390  202.640  1749.620
2019-08-26  180.360  135.450  206.490  1768.870
2019-08-27  181.300  135.740  204.160  1761.830
2019-08-28  181.760  135.560  205.530  1764.250
2019-08-29  185.570  138.120  209.010  1786.400
2019-08-30  185.670  137.860  208.740  1776.290
2019-09-03  182.390  136.040  205.700  1789.840
2019-09-04  187.140  137.630  209.190  1800.620
2019-09-05  190.900  140.050  213.280  1840.720
2019-09-06  187.490  139.100  213.260  1833.510
2019-09-09  188.760  137.520  214.170  1831.350
2019-09-10  186.170  136.080  216.700  1820.550
2019-09-11  188.490  136.120  223.590  1822.990
2019-09-12  187.470  137.520  223.090  1843.550
2019-09-13  187.190  137.320  218.750  1839.340
2019-09-16  186.220  136.330  219.900  1807.840
2019-09-17  188.080  137.390  220.700  1822.550
2019-09-18  188.140  138.520  222.770  1817.460
2019-09-19  190.140  141.070  220.960  1821.500
2019-09-20  189.930  139.440  217.730  1794.160
2019-09-23  186.820  139.140  218.720  1785.300
2019-09-24  181.280  137.380  217.680  1741.610
2019-09-25  182.800  139.360  221.030  1768.330

[1850 rows x 4 columns]

In [28]:
mu2 = expected_returns.mean_historical_return(df3)
S2 = risk_models.sample_cov(df3)
ef2 = EfficientFrontier(mu2, S2)
weights2 = ef2.max_sharpe()
ef2.portfolio_performance(verbose=True)
print(weights2)

Expected annual return: 28.5%
Annual volatility: 22.3%
Sharpe Ratio: 1.19
{'fb': 0.14110788084764556, 'msft': 0.42339738777063635, 'aapl': 0.0, 'amzn': 0.43549473138171824}

In [30]:
latest_prices2 = get_latest_prices(df3)
da2 = DiscreteAllocation(weights2, latest_prices2, total_portfolio_value=1000000)
allocation2, leftover2 = da2.greedy_portfolio()
print(allocation2)
print(leftover2)
#How much more is left over?
print(leftover)

1 out of 4 tickers were removed
{'amzn': 246, 'msft': 3038, 'fb': 772}
493.5399999999965
29.580000000064047